
<form>
<app-control  class="control" label="Title">
    <input type="text"  id="title" name="title" placeholder="write title name hare...." required>

</app-control>
 
<app-control  label="Request">
  
    <textarea id="request" rows="3" required></textarea>    
</app-control>

<p>
    <!-- <app-button btnText="Submit" btnSymbol="⧐"/> -->
     <!-- <button appButton btnText="Submit" btnSymbol="⧐"></button> -->
      <button appButton > 
        Submit 
        <span ngProjectAs="icon"> ⧐ </span>
    </button>
</p>
</form>     