<!-- <div id="status"> 
        replaced with host and :host
         -->
<div
  [class]="{
    status: true,
    'status-online': currentStatus() === 'online',
    'status-offline': currentStatus() === 'offline',
    'status-unknown': currentStatus() === 'unknown',
  }"
>

<!-- [style.fontSize]="'64px'"
  here we have to give it inside '' cause it is an expression evaluation so it asks for a TS code so we have to gice it as a string value
  or we can use it like this also:
  [style]="{
    fontSize:'64px'
  }"
  OR
  [style]="{
    'font-size':'64px'
  }" 
  and all this inside div actually used in control.html file
  -->


  
  <!-- here we are always setting status class in this div but other class on a certain condition
   here, we can set multiple key values but the keyname should be valid for css otherwise for custom key we have to 
   give it as a string
    -->

  @if (currentStatus() === "online") {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
  } @else if (currentStatus() === "offline") {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>
